.label-container{
    position:fixed;
    bottom:88px;
    right:125px;
    display:table;
    visibility: hidden;
}

.label-text{
    color:#FFF;
    background:rgba(51,51,51,0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
}

.float{
    position:fixed;
    bottom:80px;
    right:60px;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
    visibility: visible;
    opacity: 1;
}